<app-hero-banner></app-hero-banner>
<app-deal-of-day></app-deal-of-day>
<app-limited-stock></app-limited-stock>
<!-- <app-wholesale></app-wholesale> -->
<app-category-banner [banner]="categoryBanners[0]" [products]="graphicLaptops"></app-category-banner>
<app-category-banner [banner]="categoryBanners[1]" [products]="businessLaptops" [reverse]="true"></app-category-banner>
<app-category-banner [banner]="categoryBanners[2]" [products]="glossyLaptops"></app-category-banner>
<app-best-sellers></app-best-sellers>
<app-new-arrivals></app-new-arrivals>
<app-testimonials></app-testimonials>
<app-refer-friend></app-refer-friend>
<app-trending-tags></app-trending-tags>